@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-50: #f0eeff;
  --color-brand-100: #e3deff;
  --color-brand-400: #9b8aff;
  --color-brand-500: #7c6af5;
  --color-brand-600: #6651e8;
  --color-brand-700: #5340cc;

  --font-family-sans: 'Inter', system-ui, sans-serif;
}